# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MyProjects\PP_2_3_1_spring-СRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
